:root
    font-size 14px

html
    overflow hidden
    font-size 1rem

html, body
    min-height 100vh
    margin 0
    padding 0

body
    background-image linear-gradient(156deg, #9cecfb, #65c7f7, #0052d4)
    color #fff
    display flex
    justify-content center
    align-items center

pre
    display inline-block
    padding 0.5rem
    background-color hsla(120, 60%, 70%, 0.35)
    border-radius 0.5rem